body {
  padding: 30px;
}
.container {
  column-count: 20px;
  border: 4px solid;
  column-width: 100px;
  /* 단의 개수 */
  column-count: 2;
  column-gap: 30px;
  column-rule: 4px solid;
  color: red;
  /* 단축속성이용 :
    columns: 100px 2;
  */
}